{{!-- {{#if saved}} --}}
<li>
    <p> <b>{{title}} </b></p>
    <p> <a href="{{link}}"> Play through the Opening</a> </p>
    <h4>
        <img src="{{image}}" alt=" openingsImage" height="400" width="400">
    </h4>
    <button class="addNote btn-secondary" data-id="{{_id}}" data-saved="{{saved}}">
        Notes
    </button>
    <button class="deleteOpening btn-danger" data-id="{{_id}}" data-saved="{{saved}}">
        Delete
    </button>
    {{!-- {{/unless}} --}}
</li>